.container {
  .content {
    @apply relative;

    .information {
      @apply flex flex-col gap-4;

      .title {
        @apply text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl;
      }

      .description {
        @apply text-xl text-gray-500;
      }

      .total {
        @apply text-gray-500;
      }
    }

    .posts {
      @apply mt-12 grid gap-6 lg:gap-16 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12;

      .empty {
        @apply text-gray-600 text-sm;
      }
    }
  }
}
