.wrapper {
  @apply relative;
}

.line {
  @apply absolute top-3 left-3 -ml-px h-full w-0.5 bg-gray-200;
}

.content {
  @apply relative flex items-start space-x-3;
}

.logo {
  @apply relative;

  .link {
    @apply font-medium text-gray-900;

    .image {
      @apply h-6 w-6 bg-white flex items-center justify-center ring-8 ring-white object-contain;
    }
  }
}

.description {
  @apply min-w-0 flex-1;
}

.title {
  @apply text-sm;

  .link {
    @apply font-medium text-gray-900;
  }
}

.address {
  @apply mt-0.5 text-gray-500 text-xs;
}

.roles {
  @apply mt-2 text-sm text-gray-700;

  .list {
    @apply list-square ml-4 pb-2;
  }
}
