.container {
  @apply text-sm text-gray-700;

  .link {
    @apply color-link;
  }

  .list {
    @apply list-square ml-4;
  }

  .certification {
    @apply pb-1;

    .content {
      @apply print:break-inside-avoid;
    }

    .title {
      @apply font-medium text-gray-900;

      &Children {
        @apply font-medium text-gray-900 text-xs;
      }
    }
  }

  .meta {
    @apply text-gray-500 text-xs;

    .key {
      @apply mr-1;
    }

    .value {
      @apply font-medium break-words;
    }

    .divider {
      @apply mx-1;
    }
  }

  .children {
    @apply ml-4 mt-1;
  }
}
