.container {
  @apply pb-3;

  &AvoidPageBreak {
    @apply avoid-page-break-inside;
  }
}

.header {
  @apply flex items-center;

  .iconContainer {
    @apply mr-2;

    .icon {
      @apply text-gray-600;
    }
  }

  .title {
    @apply uppercase font-bold;
  }
}

.content {
  @apply mt-3 ml-5;
}
