# https://developers.google.com/analytics/devguides/collection/gtagjs/
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_BASEPATH=
# This is currently a workaround until the issue is fixed.
# See: https://github.com/vercel/next.js/issues/21079
NEXT_IMAGES_LOADER=imgix
NEXT_IMAGES_PATH=<empty>
NEXT_SHOW_DRAFT_ARTICLES=false
# The root url for the sitemap
# E.g. https://napjose.ph/
ROOT_URL=
# The folder where the sitemap will be generated
# E.g. ./out
TARGET_FOLDER=