.container {
  .content {
    @apply max-w-7xl mx-auto py-16 sm:py-24 px-4 sm:px-6 lg:px-8 lg:flex lg:justify-between;
  }

  .branding {
    @apply flex flex-row gap-2 content-center;

    .logo {
      @apply main-link-hover flex items-center;
    }

    .title {
      @apply text-3xl sm:text-5xl font-extrabold text-gray-700 flex items-center main-link-hover;
    }
  }

  .description {
    @apply mt-5 text-gray-500 text-xl;
  }

  .navigation {
    @apply mt-5;
  }
}
