.container {
  @apply bg-white;

  .title {
    @apply text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl;
  }

  .description {
    @apply mt-5 text-xl text-gray-500;
  }
}
