name: (napjoseph) deploy to github pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node:
          - 14.17.2
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: install rush with no-link
        run: node common/scripts/install-run-rush.js install --no-link
      - name: link project
        run: node common/scripts/install-run-rush.js link
      - name: build and export
        run: node common/scripts/install-run-rush.js export --verbose --to napjoseph
        env:
          NEXT_IMAGES_LOADER: 'imgix'
          NEXT_IMAGES_PATH: '<empty>'
      - name: add cname
        run: echo "napjose.ph" > ./personal/napjoseph/out/CNAME
      - name: deploy to external repository
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.SITE_DEPLOY_KEY }}
          external_repository: napjoseph/napjoseph.github.io
          publish_dir: ./personal/napjoseph/out
          publish_branch: export--mono-rush
          keep_files: false
          allow_empty_commit: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
